@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

.PopularPlace_container {
    /* background-color: green; */
    font-family: 'Inter', sans-serif;

    /* height: 100vh; */
    width: 100%;
}

.PopularPlace_links button {
    color: #069BCA;
    display:flex;
    /* cursor: pointer; */
}

.PopularPlace_links button:focus {
    /* color:black; */
    border-bottom: 2px solid #000;

    /* cursor: pointer; */
}