form input{
    border-radius: 10px;
    /* box-shadow: 2px 10px 32px 4px rgba(0,0,0,0.17);
    -webkit-box-shadow: 2px 10px 32px 4px rgba(0,0,0,0.17);
    -moz-box-shadow: 2px 10px 32px 4px rgba(0,0,0,0.17); */
    border: 1px solid #e0dddd;
}
form input::placeholder{
    font-weight:500;
}
.Subscribe{
    height: 100%;
}

.Subscribe_button {
    border: 3px solid #66DAFF;
    border-radius: 10px;
    transition: all 220ms ease-in;
    background-color: #66DAFF;
}

.Subscribe_button:hover {
    background-color: #fff;
    /* border-radius: 20px; */
}

@media screen and (max-width:768px){
    .Subscribe{
        height: 100%;
    }
}